.container {
    width: 500px; 
    height: 450px;
    padding: 20px; // Thêm padding để tạo không gian
    border-radius: 8px;
    align-items: center;
    background: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    font-family: "geistSansFont", Arial, sans-serif; // Sử dụng font sans-serif cho sự đồng bộ
    margin: auto; // Giữa màn hình

    .formContainer {
        .logo {
            margin-top: 70px;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
            img {
                width: 120px; // Tăng kích thước logo một chút
            }
        }
        .registrationForm {
            display: flex;
            flex-direction: column; // Sắp xếp các phần tử theo chiều dọc
            margin: 0 20px; // Thay đổi margin để tạo không gian bên ngoài
            h2 {
                text-align: center;
                margin-bottom: 20px;
                font-size: 26px; // Tăng kích thước tiêu đề
                font-weight: 700; // Đậm hơn
                color: #333; // Tối hơn để dễ đọc
            }

            .formGroup {
                font-size: 16px;
                display: flex;
                align-items: center;
                border-bottom: 2px solid #6dabe4; // Đổi sang màu sắc nhẹ nhàng hơn
                margin-bottom: 20px; // Tăng khoảng cách giữa các trường
                padding-bottom: 5px; // Thêm padding dưới cùng

                input {
                    font-size: 16px;
                    width: 100%;
                    padding: 10px;
                    border: none;
                    outline: none;
                    transition: border-color 0.3s ease;
                    border-bottom: 2px solid transparent; // Thay đổi hiệu ứng

                    &::placeholder {
                        color: #c4c4c4;
                        font-size: 14px;
                    }

            
                }
            }
        }

        .formGroup_checkbox {
            display: flex;
            align-items: center; // Căn giữa checkbox và label
            margin: 20px 0;

            input {
                margin-right: 10px; // Tạo khoảng cách giữa checkbox và label
            }

            span {
                font-size: 14px; // Đổi sang kích thước lớn hơn
            }
        }

        .submitBtn {
            background-color: #6dabe4;
            color: white;
            padding: 12px; // Tăng padding để tạo cảm giác dễ nhấn
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            margin-top: 20px; // Tạo khoảng cách giữa nút và trường trên

            &:hover {
                background-color: #004494; // Đậm hơn khi hover
            }
        }

        .error {
            color: red;
            font-size: 14px;
            margin-top: 10px;
            text-align: center;
        }
    }
}
