$border-color: #2277cc;

.header {
    height: 180px;
    z-index: 999;
    opacity: 1000;
    align-items: center;
    background-color: #ffffff;
    transition: background-color 0.3s;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    font-family: "geistSansFont", Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, arial;


    .shopping {
        position: relative;
        left: 0;
        width: 400px;
    }

    .sticky {
        display: flex;
        height: 40px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-around;

        .welcome {
            font-size: 13px;
        }


        .auth {
            display: flex;
            align-items: center;

            .icon {
                font-size: 18px;
            }

            font-size: 13px;

            &:hover {
                cursor: pointer;
            }
        }

        .language {
            font-size: 13px;
        }
    }

    .actions {
        margin: 0px 10%;
        display: flex;

        .logo {
            flex: 1;

            img {
                width: 150px;
                height: 44px;
            }
        }

        .search_container {
            flex: 1;
            width: 500px;

            .search {
                width: 100%;
                height: 45px;
                position: relative;
                display: flex;
                align-items: center;
                justify-items: center;
                border-radius: 5px;
                border: 2px solid $border-color;

                input {
                    padding: 0px 15px;
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 13px;

                    &:placeholder-shown {
                        font-size: 13px;
                    }
                }

                .icon {
                    font-size: 25px;
                }
            }

            .searchDiv {
                display: none;
                position: absolute;
                width: 400px;
                height: 500px;
                overflow-y: auto;
                scrollbar-width: none;
                -ms-overflow-style: none;
                background-color: #ffffff;
                border: 1px solid rgba(0, 0, 0, 0.1);
                z-index: 1001;

                &.visible {
                    display: block; // Hiện khi có lớp visible
                }

                .product_search {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    display: flex;
                    padding: 10px;
                    overflow-y: auto;
                    scrollbar-width: none;
                    -ms-overflow-style: none;

                    .product_image {
                        img {
                            width: 100px;
                        }
                    }

                    .product_detail {
                        margin-left: 10px;

                        .info {
                            flex-direction: column;

                            p {
                                font-size: 14px;
                                font-weight: 200;
                                margin: 0; // Bỏ margin cho p
                            }

                            span {
                                color: rgba(0, 0, 0, 0.5);
                            }
                        }

                        .action {
                            button {
                                font-size: 10px;
                                text-transform: uppercase;
                                margin-top: 50px;
                                border: none;
                                border-radius: 5px;
                                color: #ffffff;
                                padding: 6px;
                                background-color: #2277cc;
                            }

                            .quick_view {
                                margin-left: 10px;

                                &:hover {
                                    scale: 1.025;
                                }
                            }

                            .add_cart {
                                &:hover {
                                    scale: 1.025;
                                }
                            }
                        }

                        font-size: 12px;
                    }
                }
            }
        }

        .contact {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            .favorite {
                .icon {
                    font-size: 30px;
                }
            }

            .title {
                margin: 0 10px;
                font-size: 12px;
            }

            .carts {
                .icon {
                    font-size: 30px;
                }
            }

            .navbar_profile {
                display: flex;
                align-items: center;
                font-size: 12px;

                span {
                    margin-left: 10px;
                }

                .avatar {
                    width: 38px;
                    height: 38px;
                    border-radius: 38px;
                }
            }
        }
    }

    .navbar_links {
        flex: 1;
        margin: 0px 30%;
        margin-top: 25px;

        .navList {
            width: 100%;
            height: 80px;
            gap: 20px;
            display: flex;
            list-style-type: none;
            z-index: 1000;
            .icon{
                font-size: 10px;
            }
            li,
            .nav_dropdown {
                display: flex;
                width: 90px;

                a {
                    font-size: 14px;
                    font-weight: 500;
                    border-radius: 2px;
                    text-decoration: none;
                    color: #000000;
                    font-weight: 600;
                    transition: color 0.3s;

                    &:hover {
                        color: #2277cc;
                    }
                }
            }

            .active {
                color: #2277cc;
                &:hover {
                    .product_dropdown {
                        display: block;
                    }
                }
      
            }
            .product_dropdown {
                position: relative;
                display: none;
                width: 500px;
                height: 500px;
                background-color: #2277cc;
                z-index: 20002;
            }
        }
    }

    .nav_logo {
        flex: 1;
    }
}